extends layout

block content

  //- Import fonts
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@400&display=swap" rel="stylesheet")

  body 
    //- Add logo as upper banner
    //- section.section-dark
    //-   +donutLogo('logo-dark')

    .section-dark
      .logo.logo-dark-svg
        img.logo-graphic(src="/images/Logo-Gold.svg" alt="")
        h1.logo-name Downtown Donuts
        p.logo-since Since 1992

    //- Top Navigation Bar
    section.links 
      table
        tr
          td 
            a(href="/") Home
          td 
            a(href="/menu") Menu
          td 
            a(href="/contact") Contacts
          td 
            a(href="/reviews") Reviews

    .divider
    //- Main content section
    section.reviews
      h1 Reviews

      //- Display error message if applicable.
      if errorMessage
        .message.message-error= errorMessage

      //- Display success message if applicable.
      if successMessage
        .message.message-success= successMessage

      
      //- Create form instance.
      form.comments-form(action="/reviews" method="POST")
      
        //- Form name field with a max length of 100 characters.
        div
          label(for="name") Name
          input#name(type="text" name="name" maxlength="100" value=formData.name required)

        //- Form review field with a max length of 500 characters.
        div
          label(for="comment") Comment
          textarea#comment(name="comment" maxlength="500" required)= formData.comment

        //- Submit button.
        button(type="submit") Submit


      //- Viewable comments section.
      h2 Recent Comments

      //- If no comments display such.
      if comments.length === 0
        p No comments yet. Be the first to leave one.

      
      //- Otherwise, loop through each entry in the comments table and display it.
      else
        each item in comments
          .comment-card
            .comment-header
              strong= item.name
              span.comment-time= item.displayTime
            p.comment-body= item.comment


      //- Render pages of comments for ease of viewing
      if totalPages > 1
        .pagination
          if currentPage > 1
            a(href=`/reviews?page=${currentPage - 1}`) Previous

          span Page #{currentPage} of #{totalPages}

          if currentPage < totalPages
            a(href=`/reviews?page=${currentPage + 1}`) Next


    //- A space then the Footer.
    .divider

    footer.footer
      .footer-content
        p © 2026 Downtown Donuts
        p 17265 Main Street, Boise
        p (555) 123-4567
        p Find Us:
        a(href="http://www.doordash.com") Doordash
        a(href="http://www.ubereats.com") UberEats


        form.comments-form(action="/clear" method="POST")
          hr
          div FOR TESTING ONLY!
          button(type="submit") Clear All Comments